# ignore specific folders
/presentation/
/Data/
/Paper1/
/Paper2/
/retiredcode/

# History files
*.Rhistory
*.Rapp.history

# Session Data files
*.RData

# rmd file for now
*.Rmd

# also the pdfs
*.pdf

# and the stata files
*.dta
**/sharewX_rel6-0-0_gv_job_episodes_panel.dta

# knitr and R markdown default cache directories
**/*_cache/
**/cache/
**/*_files/